<h2> <%= @customer.bus_name %> </h2>

<%= image_tag("#{@cust_latlong}", class: "image") %>

<table>
  <thead>
    <tr>
      <th> Address </th>
      <!-- <th> Telephone </th>
      <th> Website </th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @customer.address %> </td>
    </tr>
  </tbody>
</table>

<%= link_to 'List', customers_map_path %>
